$background-color-base: #9BA4B4;
$bg-color-main: #14274E;
$bg-color-thr: #394867;

$fontColor: #F1F6F9;
$fontDisabled: #AAA;
$sptColor: rgba(255, 255, 255, 0.3); // 分割线颜色
$tipsColor: #c10000; // 提示的小圆点颜色

$fontLarge: 18px;
$fontMiddle: 16px;
$fontSmall: 14px;